<!DOCTYPE html>
<html>
    <head>
        <title>TITULO GENERICO</title>
    </head>
    <body>
        <h1> 'TITULO GENERICO' </h1>
    <div>
        {% for i in 1..20 %}
          <h1>{{ 'titulo generico    '|title }}</h1>
          titulo generico
          <br>
        {% endfor %}
        
        <h1> hola </h1>
        {% if salio %}
           <h2> mira como sale </h2>

        {% endif %}
        <div>
    </body>
</html>